# Telegram Bot Token (получите у @BotFather)
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Database
#DB_HOST=postgres/localhost - в_контейнере/без
DB_HOST=postgres
DB_PORT=5432
DB_NAME=applyr
DB_USER=postgres
DB_PASS=1234

# Logging level
LOG_LEVEL=INFO 