# Logging
LOG_LEVEL=INFO

# Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token

# Database
DB_HOST=postgres
DB_PORT=5432
DB_NAME=applyr_db
DB_USER=applyr_user
DB_PASS=applyr_password

# API
API_URL=https://yourdomain.com

# JWT
SECRET_KEY=your-super-secret-key-change-in-production

# HTTPS настройки
USE_HTTPS=true
DOMAIN=yourdomain.com
EMAIL=admin@yourdomain.com
